<div class="about-area section-padding page-content">
  <div class="container">
    <div class="about-wrap">
      <div class="title">
        <h2>{{ page.title }}</h2>
      </div>
      {{ page.content }}
      <span class="shape1"><img src="{{ 'shape3.png' | asset_url }}" width="" height="" alt=""></span>
      <div class="shape2"><img src="{{ 'footer2.png' | asset_url }}" alt="" width="" height=""></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content Page",
  "settings": [],
  "presets": [
    {
      "name": "Content Page"
    }
  ]
}
{% endschema %}
